

.green{
  color: Green;
}
.underline{
  text-decoration: underline;
}
.apiExample{
  background: white;
  color: black;
  padding: 5px;
}
textarea{
  width: 100%;
  height: 2.5rem;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; 
}

.parameters{
  margin-bottom: 0;
}

.paramExamples{
  display: flex;
  flex-direction: column;
}

.break{
  margin: 2rem 0;
  border-bottom: 1px solid white;
}