::-webkit-scrollbar {
    display: none;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article{
  width: clamp(300px, 80%, 800px)
}
header{
  font-size: 2.1rem;
}

article, header, .title{
    margin-bottom: 1.8rem;
}
section{
  font-size: 1.2rem;
}

.users{
  display: flex;
  justify-content: space-around;
}

.user{
  border-radius: 1rem;
  background-color: var(--red);
  border: var(--red) 1px solid;
  padding: 15px;
  transition: 300ms;
}

.sign-in{
  background-color: var(--grey);
  border: var(--grey) 1px solid;
}

.user:hover{
  text-decoration: underline;
  background-color: var(--black);
}

/* Remove the anchor link defaults for react router*/
a:visited, a {
  color:var(--white);
  text-decoration: none;
}

